# Python 3.10.11

tensorflow==2.10.0
numpy==1.23.1
pandas==1.4.3
scikit-learn==1.7.0
matplotlib==3.10.3
yfinance==0.2.40

tensorflow-determinism==0.4.0  # stricter reproducibility
jupyterlab==4.0.5
ipykernel==6.25.1
